body {
  font-family: "NB Mono"; }

.grid {
  background: lightblue;
  width: 400px;
  height: 400px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .grid div {
    height: 40px;
    width: 40px;
    cursor: pointer; }
    .grid div.bomba {
      background: fuchsia; }
    .grid div.vacio {
      background: blue; }
    .grid div.checked {
      background: orange; }

#banderas,
#stopwatch {
  width: 200px;
  height: 50px;
  background: lightblue; }

.header {
  display: flex;
  justify-content: space-around; }

.swal2-container .alert-container {
  border-radius: 0; }

@font-face {
  font-family: 'NB Mono';
  src: url(../fonts/NB-Akademie-Mono-Std-Light.otf) format("opentype");
  font-weight: 400; }

@font-face {
  font-family: 'NB Mono';
  src: url(../fonts/NB-Akademie-Mono-Std-Medium.otf) format("opentype");
  font-weight: 600; }
