.gameboard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .counters {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: $font-family-arch;
    min-height: 45px;
    margin-bottom: .5rem;
    font-size: 3rem;
    div {
      flex: 1;
      -webkit-text-stroke: 1px $black;
      color: $red;
    }
    #banderas {
      text-align: left;
    }
    .face {
      text-align: center;
      img {
        width: 100px;
      }
    }
    
    #seconds {
      text-align: right;
    }
  }
  .grid {
    background: lightblue;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: .01rem solid $black;
    div {
      height: 40px;
      width: 40px;
      cursor: pointer;
      font-size: 2rem;
      text-align: center;
      line-height: 40px;
      font-family: $font-family-bold;
      -webkit-text-stroke: 1px $black;
      box-shadow: 0 0 0 .03rem $black inset;
      background: $white;
      &[data="1"] {
        color: $red;
      }
      &[data="2"] {
        color: $yellow;
      }
      &[data="3"] {
        color: $green;
      }
      &[data="4"] {
        color: $blue;
      }
      &[data="5"] {
        color: $orange;
      }
      &[data="6"] {
        color: $lightgray;
      }
  
      // &.bomba {
      //   background: fuchsia;
      // }
      &.checked {
        background: $darkgray;
      }
      
    }
    
  }
  @media screen and (max-width: 600px) {
    top: 45%;
    .grid {
      width: 300px;
      height: 300px;
      div {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        line-height: 30px;
      }
    }
  }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .grid {
      width: 350px;
      height: 350px;
      div {
        width: 35px;
        height: 35px;
        font-size: 1.75rem;
        line-height: 35px;
      }
    }
    
  }
}






