img.bg {
  z-index: -1;
  position: absolute;
  height: 200px;
  &[src="img/paloselfie.svg"] {
    height: 300px;
  }
  &[src="img/smartwatch.svg"] {
    height: 150px;
  }
    &.one {
      top: 35%;
      left: 25%;
      animation: levitar1 2s infinite ease-in-out alternate;
    }
    &.two {
      top: 60%;
      left: 90%;
      animation: levitar2 2s infinite ease-in-out alternate;
    }
    &.three {
      top: 70%;
      left: 10%;
      animation: levitar3 2s infinite ease-in-out alternate;
    }
    &.four {
      top: 20%;
      left: 5%;
      animation: levitar4 2s infinite ease-in-out alternate;
    }
    &.five {
      top: 10%;
      left: 50%;
      animation: levitar5 2s infinite ease-in-out alternate;
    }
    &.six {
      top: 15%;
      right: 10%;
      animation: levitar6 2s infinite ease-in-out alternate;
    }
    &.seven {
      bottom: 5%;
      left: 35%;
      animation: levitar7 2s infinite ease-in-out alternate;
    }
    &.eight  {
      top: -10%;
      left: 30%;
      animation: levitar8 2s infinite ease-in-out alternate;
    }
    &.nine  {
      bottom: 20%;
      right: 30%;
      animation: levitar9 2s infinite ease-in-out alternate;
    }
    &.ten  {
      bottom: -20%;
      right: 20%;
      animation: levitar10 2s infinite ease-in-out alternate;
    }

    @media screen and (max-width: 600px) {
      height: 100px;
      &[src="img/paloselfie.svg"] {
        height: 200px;
      }
      &[src="img/smartwatch.svg"] {
        height: 50px;
      }
    }
}


@keyframes levitar1 {
    100% {
        top: 15%;
    }
}
@keyframes levitar2 {
  100% {
      top: 40%;
  }
}
@keyframes levitar3 {
  100% {
      top: 50%;
  }
}
@keyframes levitar4 {
  100% {
      top: 0%;
  }
}
@keyframes levitar5 {
  100% {
      top: -10%;
  }
}
@keyframes levitar6 {
  100% {
      top: -5%;
  }
}
@keyframes levitar7 {
  100% {
      bottom: 25%;
  }
}
@keyframes levitar8 {
  100% {
      top: -30%;
  }
}
@keyframes levitar9 {
  100% {
      bottom: 40%;
  }
}
@keyframes levitar10 {
  100% {
      bottom: 0%;
  }
}