@font-face {
  font-family: 'NB Mono Light';
  src: url(../fonts/NB-Akademie-Mono-Std-Light.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'NB Mono Architekt';
  src: url(../fonts/NB-Architekt-Light.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: 'NB Mono Regular';
  src: url(../fonts/NB-Akademie-Mono-Std-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'NB Mono Medium';
  src: url(../fonts/NB-Akademie-Mono-Std-Medium.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'NB Mono Bold';
  src: url(../fonts/NB-Akademie-Mono-Std-Black.otf) format("opentype");
  font-weight: 700;
}