@font-face {
  font-family: 'NB Mono';
  src: url(../fonts/NB-Akademie-Mono-Std-Light.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'NB Mono';
  src: url(../fonts/NB-Akademie-Mono-Std-Medium.otf) format("opentype");
  font-weight: 600;
}