$font-family-light: 'NB Mono Light';
$font-family-base: 'NB Mono Regular';
$font-family-medium: 'NB Mono Medium';
$font-family-bold: 'NB Mono Bold';
$font-family-arch: 'NB Mono Architekt';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$black: #000;
$red: #F90D0D;
$blue: #007AFF;
$yellow: #F4E52A;
$orange: #F27019;
$green: #06CE35;
$darkgray: #9E9B9B;
$lightgray: #EDEDED;
$white: #FFF;

$border-base: .03rem solid $black;
